#textdomain wesnoth-An_Orcish_Incursion
[scenario]
    name=_"Wasteland"
    id="3_Wasteland"
    map_data="mmhhgggrrfrrgghhmhmm
mhhhgrrrrrrrgghhhhhm
hhhggrrrrwwnrrgggghm
hhggrrrrcwn2nwrgghhh
mhggrfrrccnnn\rghghg
hhhgrrrrrr/ccrgrgrgg
hhhrrrfrrrrrrrrrrfrr
rrrffrrrrfrfrrrrrffr
rrfrfrrrfffrrrfrfffr
rfrrrfrrfffrrrrrrrrr
rfrrfffrrrrfrrffrrfr
rrrrfgggrrffffffrrrr
ggrffgggrrfffffrrggg
ggrgffgfffrrrrrrrfff
gfffgggfffrrrfffgfff
gfffggfffgggrfffggff
gffffffffgggfffggnff
ffffffgggfgffffgn1ng
ffffffggffgggfffnnnf
fffffffgffffgfffggff
"
    [time]
        id="dawn"
        name=_"Dawn"
        image="misc/schedule-dawn.png"
        red="-20"
        green="-20"
        lighter="morning"
        darker="second_watch"
        mask=""
        lawful_bonus="0"
        blue="0"
    [/time]
    [time]
        id="morning"
        name=_"Morning"
        image="misc/schedule-morning.png"
        lawful_bonus="25"
        darker="dawn"
        mask=""
        red="0"
        green="0"
        blue="0"
    [/time]
    [time]
        id="afternoon"
        name=_"Afternoon"
        image="misc/schedule-afternoon.png"
        lawful_bonus="25"
        darker="dusk"
        mask=""
        red="0"
        green="0"
        blue="0"
    [/time]
    [time]
        id="dusk"
        name=_"Dusk"
        image="misc/schedule-dusk.png"
        green="-20"
        blue="-20"
        lighter="afternoon"
        darker="first_watch"
        mask=""
        lawful_bonus="0"
        red="0"
    [/time]
    [time]
        id="first_watch"
        name=_"First Watch"
        image="misc/schedule-firstwatch.png"
        lawful_bonus="-25"
        red="-40"
        green="-40"
        blue="-10"
        lighter="dusk"
        mask=""
    [/time]
    [time]
        id="second_watch"
        name=_"Second Watch"
        image="misc/schedule-secondwatch.png"
        lawful_bonus="-25"
        red="-40"
        green="-40"
        blue="-10"
        lighter="dawn"
        mask=""
    [/time]
    [side]
        type="Elvish Lord"
        description="Erlornas"
        side="1"
        canrecruit="1"
        controller="human"
        team_name="goodies"
#ifdef EASY
            income="9"
#endif
#ifdef NORMAL
            income="9"
#endif
#ifdef HARD
            income="9"
#endif
        recruit="Elvish Scout,Elvish Fighter,Elvish Archer,Elvish Shaman"
    [/side]
    [side]
        type="Orcish Warlord"
        description="Gnargha"
        side="2"
        canrecruit="1"
#ifdef EASY
            gold="100"
            income="8"
            recruit="Orcish Archer, Orcish Crossbowman, Orcish Grunt, Orcish Warrior, Wolf Rider"
#endif
#ifdef NORMAL
            gold="120"
            income="12"
            recruit="Orcish Archer, Orcish Crossbowman, Orcish Grunt, Orcish Warrior, Wolf Rider"
#endif
#ifdef HARD
            gold="160"
            income="12"
            recruit="Wolf Rider,Orcish Grunt,Orcish Archer,Orcish Warrior,Orcish Crossbowman"
#endif
#ifdef EASY
            income="8"
#endif
#ifdef NORMAL
            income="12"
#endif
#ifdef HARD
            income="12"
#endif
        team_name="baddies"
        controller="ai"
        recruit="Orcish Archer, Orcish Crossbowman, Orcish Grunt, Orcish Warrior, Wolf Rider"
        fog="no"
        share_view="no"
        shroud="no"
        share_maps="no"
        [ai]
        [/ai]
    [/side]
    [event]
        name="prestart"
        [objectives]
            side="1"
            note=_"Hint:
There are no villages in this scenario - you must use healers instead. Use hit and run tactics to weaken enemy units who cannot heal themselves."
            silent="no"
            [objective]
                description=_"Defeat Gnargha"
                condition="win"
            [/objective]
            [objective]
                description=_"Death of Erlornas"
                condition="lose"
            [/objective]
            [objective]
                description=_"Time runs out"
                condition="lose"
            [/objective]
        [/objectives]
    [/event]
    [event]
        name="start"
        [role]
            type="Elvish Shyde,Elvish Druid,Elvish Avenger,Elvish Ranger,Elvish Outrider,Elvish Rider,Elvish Sharpshooter,Elvish Marksman,Elvish Champion,Elvish Marshal,Elvish Captain,Elvish Hero,Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout"
            role="Advisor"
        [/role]
        [recall]
            role="Advisor"
        [/recall]
        [message]
            role="Advisor"
            message=_"The foul orcs have devastated this area, destroying the trees and driving out the peaceful folk... it saddens me to see such waste."
            sound=""
        [/message]
        [message]
            description="Gnargha"
            message=_"Greetings, Erlornas! I am Gnargha, the brother of Urugha whom you slew but few nights ago. Know this: Lord Rualsha has permitted me to be the agent of his revenge!"
            sound=""
        [/message]
        [message]
            description="Erlornas"
            message=_"I have no quarrel with you, Gnargha, nor with your leader Rualsha - but I cannot permit you to invade our lands. Leave now, and we shall be at peace."
            sound=""
        [/message]
        [message]
            description="Gnargha"
            message=_"Peace?! Bah! You are weaker than I thought. Now prepare yourself for a slow and painful death!"
            sound=""
        [/message]
    [/event]
    [event]
        name="victory"
        [message]
            description="Erlornas"
            message=_"Gnargha and his troops must have come down out of that valley to the north... that is where we will go next!"
            sound=""
        [/message]
    [/event]
    [story]
        [part]
            [image]
                x="222"
                y="282"
                file="misc/dot.png"
                delay="250"
            [/image]
            [image]
                x="208"
                y="285"
                file="misc/dot.png"
                delay="250"
            [/image]
            [image]
                x="193"
                y="288"
                file="misc/dot.png"
                delay="250"
            [/image]
            [image]
                x="176"
                y="288"
                file="misc/dot.png"
                delay="250"
            [/image]
            [image]
                x="120"
                y="261"
                file="units/elvish-lord.png"
                delay="500"
            [/image]
            [image]
                x="60"
                y="210"
                file="units/orcs/warlord.png"
                delay="500"
            [/image]
            [image]
                x="95"
                y="290"
                file="misc/cross.png"
                delay="500"
            [/image]
            [image]
                x="119"
                y="273"
                file="misc/cross.png"
                delay="500"
            [/image]
            [image]
                x="139"
                y="256"
                file="misc/cross.png"
                delay="500"
            [/image]
            background="map.jpg"
            show_title="yes"
        [/part]
    [/story]
    next_scenario="4_Valley_of_Trolls"
    turns="24"
[/scenario]
